#languages, #currencies{
    border: 1px solid #60A5FA;
    padding: 5px;
    border-radius: 6px;
    outline: none;
    text-shadow: 1px 1px 2px rgb(139, 20, 189);
    color: #04326a;
    font-weight: bold;
}
